<section class="section-about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="eyebrow">{{ site.about.eyebrow }}</span>
                <h2 class="section-heading">{{ site.about.heading }}</h2>
                <div class="about-body">
                    {{ content }}
                </div>
                <a href="#topics" class="btn btn-default btn-xl page-scroll">{{ site.about.cta }}</a>
            </div>
        </div>
    </div>
</section>
