<section class="section-contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <span class="eyebrow">{{ site.contact.eyebrow }}</span>
                <h2 class="section-heading">{{ site.contact.heading }}</h2>
                <p>{{ site.contact.text }}</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/{{ site.github_username }}" class="contact-link">
                    <i class="fa fa-github"></i>
                    <span>{{ site.github_username }}</span>
                </a>
            </div>
        </div>
    </div>
</section>
